<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Argentia</key>
	<dict>
		<key>Latitude</key>
		<real>47.30611111</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-53.99</real>
		<key>FullName</key>
		<string>Argentia Cadet Flying Site</string>
		<key>Region</key>
		<string>Atlantic</string>
	</dict>
	<key>Atlantic Ops</key>
	<dict>
		<key>Latitude</key>
		<real>45.41861111</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-63.46055556</real>
		<key>FullName</key>
		<string>Atlantic Region Air Ops</string>
		<key>Region</key>
		<string>Atlantic</string>
		<key>SummerUnit</key>
		<true/>
	</dict>
	<key>Clarenville CFS</key>
	<dict>
		<key>Latitude</key>
		<real>48.27</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-53.91</real>
		<key>FullName</key>
		<string>Clarenville Cadet Flying Site</string>
		<key>Region</key>
		<string>Atlantic</string>
		<key>SummerUnit</key>
		<false/>
	</dict>
	<key>CQ3</key>
	<dict>
		<key>Latitude</key>
		<real>45.41861111</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-63.46055556</real>
		<key>FullName</key>
		<string>Debert Gliding Centre</string>
		<key>Region</key>
		<string>Atlantic</string>
		<key>SummerUnit</key>
		<false/>
	</dict>
	<key>Debert CFS</key>
	<dict>
		<key>Latitude</key>
		<real>45.41861111</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-63.46055556</real>
		<key>FullName</key>
		<string>Debert Cadet Flying Site</string>
		<key>Region</key>
		<string>Atlantic</string>
		<key>SummerUnit</key>
		<false/>
	</dict>
	<key>Debert CFTC</key>
	<dict>
		<key>Latitude</key>
		<real>45.41861111</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-63.46055556</real>
		<key>FullName</key>
		<string>Debert Cadet Flight Training Centre</string>
		<key>Region</key>
		<string>Atlantic</string>
		<key>SummerUnit</key>
		<true/>
	</dict>
	<key>Gander</key>
	<dict>
		<key>Latitude</key>
		<real>48.93694444</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-54.56805556</real>
		<key>FullName</key>
		<string>Gander Cadet Flying Site</string>
		<key>Region</key>
		<string>Atlantic</string>
		<key>SummerUnit</key>
		<false/>
	</dict>
	<key>Greenwood</key>
	<dict>
		<key>Latitude</key>
		<real>44.98444444</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-64.91694443999999</real>
		<key>FullName</key>
		<string>Greenwood Cadet Flying Site</string>
		<key>Region</key>
		<string>Atlantic</string>
		<key>SummerUnit</key>
		<true/>
	</dict>
	<key>Miramichi</key>
	<dict>
		<key>Latitude</key>
		<real>47.00777778</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-65.44916667</real>
		<key>FullName</key>
		<string>Miramichi Cadet Flying Site</string>
		<key>Region</key>
		<string>Atlantic</string>
		<key>SummerUnit</key>
		<false/>
	</dict>
	<key>RGS (A)</key>
	<dict>
		<key>Latitude</key>
		<real>45.41861111</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-63.46055556</real>
		<key>FullName</key>
		<string>Region Gliding School Atlantic</string>
		<key>Region</key>
		<string>Atlantic</string>
		<key>SummerUnit</key>
		<true/>
	</dict>
	<key>Stephenville</key>
	<dict>
		<key>Latitude</key>
		<real>48.54138889</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-58.55</real>
		<key>FullName</key>
		<string>Stephenville Cadet Flying Site</string>
		<key>Region</key>
		<string>Atlantic</string>
		<key>SummerUnit</key>
		<false/>
	</dict>
	<key>Summerside</key>
	<dict>
		<key>Latitude</key>
		<real>46.44055556</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-63.83361111</real>
		<key>FullName</key>
		<string>Summerside Cadet Flying Site</string>
		<key>Region</key>
		<string>Atlantic</string>
		<key>SummerUnit</key>
		<false/>
	</dict>
	<key>Sydney</key>
	<dict>
		<key>Latitude</key>
		<real>46.16138889</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-60.04805556</real>
		<key>FullName</key>
		<string>Sydney Cadet Flying Site</string>
		<key>Region</key>
		<string>Atlantic</string>
		<key>SummerUnit</key>
		<false/>
	</dict>
	<key>YAR</key>
	<dict>
		<key>Latitude</key>
		<real>47.30611111</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-53.99</real>
		<key>FullName</key>
		<string>Argentia Gliding Centre</string>
		<key>Region</key>
		<string>Atlantic</string>
	</dict>
	<key>YCH</key>
	<dict>
		<key>Latitude</key>
		<real>47.00777778</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-65.44916667</real>
		<key>FullName</key>
		<string>Miramichi Gliding Centre</string>
		<key>Region</key>
		<string>Atlantic</string>
	</dict>
	<key>YJT</key>
	<dict>
		<key>Latitude</key>
		<real>48.54138889</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-58.55</real>
		<key>FullName</key>
		<string>Stephenville Gliding Centre</string>
		<key>Region</key>
		<string>Atlantic</string>
	</dict>
	<key>YQX</key>
	<dict>
		<key>Latitude</key>
		<real>48.93694444</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-54.56805556</real>
		<key>FullName</key>
		<string>Gander Gliding Centre</string>
		<key>Region</key>
		<string>Atlantic</string>
	</dict>
	<key>YQY</key>
	<dict>
		<key>Latitude</key>
		<real>46.16138889</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-60.04805556</real>
		<key>FullName</key>
		<string>Sydney Gliding Centre</string>
		<key>Region</key>
		<string>Atlantic</string>
	</dict>
	<key>YSU</key>
	<dict>
		<key>Latitude</key>
		<real>46.44055556</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-63.83361111</real>
		<key>FullName</key>
		<string>Summerside Gliding Centre</string>
		<key>Region</key>
		<string>Atlantic</string>
	</dict>
	<key>YZX</key>
	<dict>
		<key>Latitude</key>
		<real>44.98444444</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-64.91694443999999</real>
		<key>FullName</key>
		<string>Greenwood Gliding Centre</string>
		<key>Region</key>
		<string>Atlantic</string>
	</dict>
	<key>Abbotsford</key>
	<dict>
		<key>Latitude</key>
		<real>49.02527778</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-122.3605556</real>
		<key>FullName</key>
		<string>Abbotsford Cadet Flying Site</string>
		<key>Region</key>
		<string>Pacific</string>
	</dict>
	<key>AD4</key>
	<dict>
		<key>Latitude</key>
		<real>49.05555556</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-117.6091667</real>
		<key>FullName</key>
		<string>Trail</string>
		<key>Region</key>
		<string>Pacific</string>
	</dict>
	<key>AU3</key>
	<dict>
		<key>Latitude</key>
		<real>49.17333333</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-119.5511111</real>
		<key>FullName</key>
		<string>Oliver</string>
		<key>Region</key>
		<string>Pacific</string>
	</dict>
	<key>BS8</key>
	<dict>
		<key>Latitude</key>
		<real>49.32194444</real>
		<key>Longitude</key>
		<real>-124.9311111</real>
		<key>Defunct</key>
		<true/>
		<key>FullName</key>
		<string>Port Alberni</string>
		<key>Region</key>
		<string>Pacific</string>
	</dict>
	<key>Chilliwack</key>
	<dict>
		<key>Defunct</key>
		<false/>
		<key>FullName</key>
		<string>Chilliwack Cadet Flying Site</string>
		<key>Region</key>
		<string>Pacific</string>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Latitude</key>
		<integer>0</integer>
	</dict>
	<key>Comox</key>
	<dict>
		<key>Latitude</key>
		<real>49.71083333</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-124.8866667</real>
		<key>FullName</key>
		<string>Comox Cadet Flight Training Centre</string>
		<key>Region</key>
		<string>Pacific</string>
	</dict>
	<key>Cranbrook</key>
	<dict>
		<key>Defunct</key>
		<false/>
		<key>FullName</key>
		<string>Cranbrook Cadet Flying Site</string>
		<key>Region</key>
		<string>Pacific</string>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Latitude</key>
		<integer>0</integer>
	</dict>
	<key>Grand Forks</key>
	<dict>
		<key>Latitude</key>
		<real>49.01555556</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-118.4305556</real>
		<key>FullName</key>
		<string>Grand Forks Cadet Flying Site</string>
		<key>Region</key>
		<string>Pacific</string>
	</dict>
	<key>Hope</key>
	<dict>
		<key>Latitude</key>
		<real>49.36833333</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-121.4980556</real>
		<key>FullName</key>
		<string>Hope Cadet Flying Site</string>
		<key>Region</key>
		<string>Pacific</string>
	</dict>
	<key>Langley</key>
	<dict>
		<key>Latitude</key>
		<real>49.10111111</real>
		<key>Longitude</key>
		<real>-122.6305556</real>
		<key>Defunct</key>
		<false/>
		<key>FullName</key>
		<string>Langley Cadet Flying Site</string>
		<key>Region</key>
		<string>Pacific</string>
	</dict>
	<key>Nanaimo</key>
	<dict>
		<key>Latitude</key>
		<real>49.05222222</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-123.8702778</real>
		<key>FullName</key>
		<string>Nanaimo Cadet Flying Site</string>
		<key>Region</key>
		<string>Pacific</string>
	</dict>
	<key>Oliver</key>
	<dict>
		<key>Latitude</key>
		<real>49.17333333</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-119.5511111</real>
		<key>FullName</key>
		<string>Oliver Cadet Flying Site</string>
		<key>Region</key>
		<string>Pacific</string>
	</dict>
	<key>Pac Ops</key>
	<dict>
		<key>Latitude</key>
		<real>49.71083333</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-124.8866667</real>
		<key>FullName</key>
		<string>Pacific Region Air Ops</string>
		<key>Region</key>
		<string>Pacific</string>
		<key>SummerUnit</key>
		<true/>
	</dict>
	<key>Pitt Meadows</key>
	<dict>
		<key>Latitude</key>
		<real>49.21611111</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-122.71</real>
		<key>FullName</key>
		<string>Pitt Meadows Cadet Flying Site</string>
		<key>Region</key>
		<string>Pacific</string>
	</dict>
	<key>Port Alberni</key>
	<dict>
		<key>Latitude</key>
		<real>49.32194444</real>
		<key>Longitude</key>
		<real>-124.9311111</real>
		<key>Defunct</key>
		<true/>
		<key>FullName</key>
		<string>Port Alberni Cadet Flying Site</string>
		<key>Region</key>
		<string>Pacific</string>
	</dict>
	<key>Prince George</key>
	<dict>
		<key>Latitude</key>
		<real>53.88416667</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-122.6775</real>
		<key>FullName</key>
		<string>Prince George Cadet Flying Site</string>
		<key>Region</key>
		<string>Pacific</string>
	</dict>
	<key>RGS (P)</key>
	<dict>
		<key>Latitude</key>
		<real>49.71083333</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-124.8866667</real>
		<key>FullName</key>
		<string>Region Gliding School Pacific</string>
		<key>Region</key>
		<string>Pacific</string>
		<key>SummerUnit</key>
		<true/>
	</dict>
	<key>Salmon Arm</key>
	<dict>
		<key>Latitude</key>
		<real>50.68277778</real>
		<key>Longitude</key>
		<real>-119.2286111</real>
		<key>Defunct</key>
		<false/>
		<key>FullName</key>
		<string>Salmon Arm Cadet Flying Site</string>
		<key>Region</key>
		<string>Pacific</string>
	</dict>
	<key>Smithers</key>
	<dict>
		<key>Defunct</key>
		<false/>
		<key>FullName</key>
		<string>Smithers Cadet Flying Site</string>
		<key>Region</key>
		<string>Pacific</string>
		<key>Longitude</key>
		<integer>0</integer>
		<key>Latitude</key>
		<integer>0</integer>
	</dict>
	<key>Trail</key>
	<dict>
		<key>Latitude</key>
		<real>49.05555556</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-117.6091667</real>
		<key>FullName</key>
		<string>Trail Cadet Flying Site</string>
		<key>Region</key>
		<string>Pacific</string>
	</dict>
	<key>Victoria</key>
	<dict>
		<key>Defunct</key>
		<false/>
		<key>FullName</key>
		<string>Victoria Cadet Flying Site</string>
		<key>Region</key>
		<string>Pacific</string>
		<key>Longitude</key>
		<string></string>
		<key>Latitude</key>
		<string></string>
	</dict>
	<key>YCD</key>
	<dict>
		<key>Latitude</key>
		<real>49.05222222</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-123.8702778</real>
		<key>FullName</key>
		<string>Nanaimo</string>
		<key>Region</key>
		<string>Pacific</string>
	</dict>
	<key>YHE</key>
	<dict>
		<key>Latitude</key>
		<real>49.36833333</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-121.4980556</real>
		<key>FullName</key>
		<string>Hope</string>
		<key>Region</key>
		<string>Pacific</string>
	</dict>
	<key>YNJ</key>
	<dict>
		<key>Latitude</key>
		<real>49.10111111</real>
		<key>Longitude</key>
		<real>-122.6305556</real>
		<key>Defunct</key>
		<true/>
		<key>FullName</key>
		<string>Langley</string>
		<key>Region</key>
		<string>Pacific</string>
	</dict>
	<key>YPK</key>
	<dict>
		<key>Latitude</key>
		<real>49.21611111</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-122.71</real>
		<key>FullName</key>
		<string>Pitt Meadows</string>
		<key>Region</key>
		<string>Pacific</string>
	</dict>
	<key>YQQ</key>
	<dict>
		<key>Latitude</key>
		<real>49.71083333</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-124.8866667</real>
		<key>FullName</key>
		<string>Comox</string>
		<key>Region</key>
		<string>Pacific</string>
	</dict>
	<key>YXS</key>
	<dict>
		<key>Latitude</key>
		<real>53.88416667</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-122.6775</real>
		<key>FullName</key>
		<string>Prince George</string>
		<key>Region</key>
		<string>Pacific</string>
	</dict>
	<key>YXX</key>
	<dict>
		<key>Latitude</key>
		<real>49.02527778</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-122.3605556</real>
		<key>FullName</key>
		<string>Abbotsford</string>
		<key>Region</key>
		<string>Pacific</string>
	</dict>
	<key>ZAM</key>
	<dict>
		<key>Latitude</key>
		<real>50.68277778</real>
		<key>Longitude</key>
		<real>-119.2286111</real>
		<key>Defunct</key>
		<true/>
		<key>FullName</key>
		<string>Salmon Arm</string>
		<key>Region</key>
		<string>Pacific</string>
	</dict>
	<key>ZGF</key>
	<dict>
		<key>Latitude</key>
		<real>49.01555556</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-118.4305556</real>
		<key>FullName</key>
		<string>Grand Forks</string>
		<key>Region</key>
		<string>Pacific</string>
	</dict>
	<key>BGC</key>
	<dict>
		<key>Defunct</key>
		<true/>
		<key>Latitude</key>
		<real>49.91</real>
		<key>Longitude</key>
		<real>-99.95189999999999</real>
		<key>FullName</key>
		<string>Brandon Gliding Centre</string>
		<key>Region</key>
		<string>Prairie</string>
	</dict>
	<key>Brandon</key>
	<dict>
		<key>Defunct</key>
		<false/>
		<key>Latitude</key>
		<real>49.91</real>
		<key>Longitude</key>
		<real>-99.95189999999999</real>
		<key>FullName</key>
		<string>Brandon Cadet Flying Site</string>
		<key>Region</key>
		<string>Northwest</string>
	</dict>
	<key>EGC</key>
	<dict>
		<key>Latitude</key>
		<real>53.6675</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-113.8544</real>
		<key>FullName</key>
		<string>Edmonton Gliding Centre</string>
		<key>Region</key>
		<string>Prairie</string>
	</dict>
	<key>Villeneuve</key>
	<dict>
		<key>Latitude</key>
		<real>53.6675</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-113.8544</real>
		<key>FullName</key>
		<string>Villeneuve Cadet Flying Site</string>
		<key>Region</key>
		<string>Northwest</string>
	</dict>
	<key>GGC</key>
	<dict>
		<key>Latitude</key>
		<real>50.6281</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-97.0433</real>
		<key>FullName</key>
		<string>Gimli Gliding Centre</string>
		<key>Region</key>
		<string>Prairie</string>
		<key>SummerUnit</key>
		<false/>
	</dict>
	<key>Gimli</key>
	<dict>
		<key>Latitude</key>
		<real>50.6281</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-97.0433</real>
		<key>FullName</key>
		<string>Gimli Cadet Flight Training Centre</string>
		<key>Region</key>
		<string>Northwest</string>
		<key>SummerUnit</key>
		<false/>
	</dict>
	<key>RGS (Pra)</key>
	<dict>
		<key>Defunct</key>
		<true/>
		<key>Latitude</key>
		<real>50.6281</real>
		<key>Longitude</key>
		<real>-97.0433</real>
		<key>FullName</key>
		<string>Region Gliding School Prairie</string>
		<key>Region</key>
		<string>Prairie</string>
		<key>SummerUnit</key>
		<true/>
	</dict>
	<key>RGS (NW)</key>
	<dict>
		<key>Defunct</key>
		<true/>
		<key>Latitude</key>
		<real>50.6281</real>
		<key>Longitude</key>
		<real>-97.0433</real>
		<key>FullName</key>
		<string>Region Gliding School Northwest</string>
		<key>Region</key>
		<string>Northwest</string>
		<key>SummerUnit</key>
		<true/>
	</dict>
	<key>NW Ops</key>
	<dict>
		<key>Defunct</key>
		<false/>
		<key>Latitude</key>
		<real>50.6281</real>
		<key>Longitude</key>
		<real>-97.0433</real>
		<key>FullName</key>
		<string>Northwest Region Air Ops</string>
		<key>Region</key>
		<string>Northwest</string>
		<key>SummerUnit</key>
		<true/>
	</dict>
	<key>JGC</key>
	<dict>
		<key>Defunct</key>
		<true/>
		<key>Latitude</key>
		<real>53.7281</real>
		<key>Longitude</key>
		<real>-113.0872</real>
		<key>FullName</key>
		<string>Josephburg Gliding Centre</string>
		<key>Region</key>
		<string>Prairie</string>
	</dict>
	<key>Josephburg</key>
	<dict>
		<key>Defunct</key>
		<false/>
		<key>Latitude</key>
		<real>53.7281</real>
		<key>Longitude</key>
		<real>-113.0872</real>
		<key>FullName</key>
		<string>Josephburg Cadet Flying Site</string>
		<key>Region</key>
		<string>Northwest</string>
	</dict>
	<key>MJGC</key>
	<dict>
		<key>Latitude</key>
		<real>50.3303</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-105.5592</real>
		<key>FullName</key>
		<string>Moose Jaw Gliding Centre</string>
		<key>Region</key>
		<string>Prairie</string>
	</dict>
	<key>Moose Jaw</key>
	<dict>
		<key>Latitude</key>
		<real>50.3303</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-105.5592</real>
		<key>FullName</key>
		<string>Moose Jaw Cadet Flying Site</string>
		<key>Region</key>
		<string>Northwest</string>
	</dict>
	<key>NBGC</key>
	<dict>
		<key>Latitude</key>
		<real>52.7692</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-108.2436</real>
		<key>FullName</key>
		<string>North Battleford Gliding Centre</string>
		<key>Region</key>
		<string>Prairie</string>
	</dict>
	<key>North Battleford</key>
	<dict>
		<key>Latitude</key>
		<real>52.7692</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-108.2436</real>
		<key>FullName</key>
		<string>North Battleford Cadet Flying Site</string>
		<key>Region</key>
		<string>Northwest</string>
	</dict>
	<key>NGC</key>
	<dict>
		<key>Latitude</key>
		<real>51.85</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-114.0667</real>
		<key>FullName</key>
		<string>Netook Gliding Centre</string>
		<key>Region</key>
		<string>Prairie</string>
		<key>SummerUnit</key>
		<false/>
	</dict>
	<key>Netook</key>
	<dict>
		<key>Latitude</key>
		<real>51.85</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-114.0667</real>
		<key>FullName</key>
		<string>Netook Cadet Flying Site</string>
		<key>Region</key>
		<string>Northwest</string>
		<key>SummerUnit</key>
		<false/>
	</dict>
	<key>NGC Fam</key>
	<dict>
		<key>Latitude</key>
		<real>51.85</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-114.0667</real>
		<key>FullName</key>
		<string>Summer Famil Operations</string>
		<key>Region</key>
		<string>Prairie</string>
		<key>SummerUnit</key>
		<true/>
	</dict>
	<key>PRGC</key>
	<dict>
		<key>Latitude</key>
		<real>55.1797</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-118.885</real>
		<key>FullName</key>
		<string>Peace River Gliding Centre</string>
		<key>Region</key>
		<string>Prairie</string>
	</dict>
	<key>Peace River</key>
	<dict>
		<key>Latitude</key>
		<real>55.1797</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-118.885</real>
		<key>FullName</key>
		<string>Peace River Cadet Flying Site</string>
		<key>Region</key>
		<string>Prairie</string>
	</dict>
	<key>Grande Prairie</key>
	<dict>
		<key>Latitude</key>
		<real>55.1797</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-118.885</real>
		<key>FullName</key>
		<string>Grande Prairie Cadet Flying Site</string>
		<key>Region</key>
		<string>Northwest</string>
	</dict>
	<key>SAGC</key>
	<dict>
		<key>Latitude</key>
		<real>50.4047</real>
		<key>Longitude</key>
		<real>-113.2833</real>
		<key>Defunct</key>
		<true/>
		<key>FullName</key>
		<string>Southern Alberta Gliding Centre</string>
		<key>Region</key>
		<string>Prairie</string>
	</dict>
	<key>Vulcan</key>
	<dict>
		<key>Latitude</key>
		<real>50.4047</real>
		<key>Longitude</key>
		<real>-113.2833</real>
		<key>Defunct</key>
		<false/>
		<key>FullName</key>
		<string>Vulcan Cadet Flying Site</string>
		<key>Region</key>
		<string>Northwest</string>
	</dict>
	<key>YBG</key>
	<dict>
		<key>Latitude</key>
		<real>48.3306</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-70.99639999999999</real>
		<key>FullName</key>
		<string>Bagotville</string>
		<key>Region</key>
		<string>Eastern</string>
	</dict>
	<key>Bagotville</key>
	<dict>
		<key>Latitude</key>
		<real>48.3306</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-70.99639999999999</real>
		<key>FullName</key>
		<string>Bagotville Cadet Flying Site</string>
		<key>Region</key>
		<string>Eastern</string>
	</dict>
	<key>YSH</key>
	<dict>
		<key>Latitude</key>
		<real>44.9458</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-75.9406</real>
		<key>FullName</key>
		<string>Smith Falls</string>
		<key>Region</key>
		<string>Eastern</string>
	</dict>
	<key>Smith Falls</key>
	<dict>
		<key>Latitude</key>
		<real>44.9458</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-75.9406</real>
		<key>FullName</key>
		<string>Smith Falls Cadet Flying Site</string>
		<key>Region</key>
		<string>Eastern</string>
	</dict>
	<key>ZBM</key>
	<dict>
		<key>Latitude</key>
		<real>45.2908</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-72.7414</real>
		<key>FullName</key>
		<string>Bromont</string>
		<key>Region</key>
		<string>Eastern</string>
	</dict>
	<key>Bromont</key>
	<dict>
		<key>Latitude</key>
		<real>45.2908</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-72.7414</real>
		<key>FullName</key>
		<string>Bromont Cadet Flying Site</string>
		<key>Region</key>
		<string>Eastern</string>
	</dict>
	<key>SE4</key>
	<dict>
		<key>Latitude</key>
		<real>45.6394</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-74.3706</real>
		<key>FullName</key>
		<string>Lachute</string>
		<key>Region</key>
		<string>Eastern</string>
	</dict>
	<key>Lachute</key>
	<dict>
		<key>Latitude</key>
		<real>45.6394</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-74.3706</real>
		<key>FullName</key>
		<string>Lachute Cadet Flying Site</string>
		<key>Region</key>
		<string>Eastern</string>
	</dict>
	<key>YJN</key>
	<dict>
		<key>Latitude</key>
		<real>45.2944</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-73.2811</real>
		<key>FullName</key>
		<string>Saint-Jean</string>
		<key>Region</key>
		<string>Eastern</string>
	</dict>
	<key>Saint-Jean</key>
	<dict>
		<key>Latitude</key>
		<real>45.2944</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-73.2811</real>
		<key>FullName</key>
		<string>Saint-Jean Cadet Flight Training Centre</string>
		<key>Region</key>
		<string>Eastern</string>
	</dict>
	<key>ERGS</key>
	<dict>
		<key>Latitude</key>
		<real>45.2944</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-73.2811</real>
		<key>FullName</key>
		<string>Eastern Region Gliding School</string>
		<key>Region</key>
		<string>Eastern</string>
	</dict>
	<key>Eastern Ops</key>
	<dict>
		<key>Latitude</key>
		<real>45.2944</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-73.2811</real>
		<key>FullName</key>
		<string>Eastern Region Air Ops</string>
		<key>Region</key>
		<string>Eastern</string>
	</dict>
	<key>SC3</key>
	<dict>
		<key>Latitude</key>
		<real>45.8453</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-72.3947</real>
		<key>FullName</key>
		<string>Drummondville</string>
		<key>Region</key>
		<string>Eastern</string>
	</dict>
	<key>Drummondville</key>
	<dict>
		<key>Latitude</key>
		<real>45.8453</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-72.3947</real>
		<key>FullName</key>
		<string>Drummondville Cadet Flying Site</string>
		<key>Region</key>
		<string>Eastern</string>
	</dict>
	<key>YOY</key>
	<dict>
		<key>Latitude</key>
		<real>46.9028</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-71.50360000000001</real>
		<key>FullName</key>
		<string>Valcartier</string>
		<key>Region</key>
		<string>Eastern</string>
	</dict>
	<key>Valcartier</key>
	<dict>
		<key>Latitude</key>
		<real>46.9028</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-71.50360000000001</real>
		<key>FullName</key>
		<string>Valcartier Cadet Flying Site</string>
		<key>Region</key>
		<string>Eastern</string>
	</dict>
	<key>YUY</key>
	<dict>
		<key>Latitude</key>
		<real>48.2061</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-78.8356</real>
		<key>FullName</key>
		<string>Rouyn</string>
		<key>Region</key>
		<string>Eastern</string>
	</dict>
	<key>Rouyn</key>
	<dict>
		<key>Latitude</key>
		<real>48.2061</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-78.8356</real>
		<key>FullName</key>
		<string>Rouyn Cadet Flying Site</string>
		<key>Region</key>
		<string>Eastern</string>
	</dict>
	<key>YMT</key>
	<dict>
		<key>Latitude</key>
		<real>49.7719</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-74.52809999999999</real>
		<key>FullName</key>
		<string>Chibougamou</string>
		<key>Region</key>
		<string>Eastern</string>
	</dict>
	<key>Chibougamou</key>
	<dict>
		<key>Latitude</key>
		<real>49.7719</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-74.52809999999999</real>
		<key>FullName</key>
		<string>Chibougamou Cadet Flying Site</string>
		<key>Region</key>
		<string>Eastern</string>
	</dict>
	<key>Iroquois Falls</key>
	<dict>
		<key>Latitude</key>
		<real>48.7417</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-80.7933</real>
		<key>FullName</key>
		<string>Iroquois Falls Cadet Flying Site</string>
		<key>Region</key>
		<string>Central</string>
	</dict>
	<key>Pineview</key>
	<dict>
		<key>Latitude</key>
		<real>44.2717</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-79.91249999999999</real>
		<key>FullName</key>
		<string>Pineview Cadet Flying Site</string>
		<key>Region</key>
		<string>Central</string>
	</dict>
	<key>Borden</key>
	<dict>
		<key>Latitude</key>
		<real>44.2717</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-79.91249999999999</real>
		<key>FullName</key>
		<string>Borden Cadet Flying Site</string>
		<key>Region</key>
		<string>Central</string>
	</dict>
	<key>CRGS</key>
	<dict>
		<key>Latitude</key>
		<real>44.2717</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-79.91249999999999</real>
		<key>FullName</key>
		<string>Central Region Gliding School</string>
		<key>Region</key>
		<string>Central</string>
	</dict>
	<key>Central Ops</key>
	<dict>
		<key>Latitude</key>
		<real>44.2717</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-79.91249999999999</real>
		<key>FullName</key>
		<string>Central Region Air Ops</string>
		<key>Region</key>
		<string>Central</string>
	</dict>
	<key>Mountain View</key>
	<dict>
		<key>Latitude</key>
		<real>44.0694</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-77.3381</real>
		<key>FullName</key>
		<string>Mountain View Cadet Flying Site</string>
		<key>Region</key>
		<string>Central</string>
	</dict>
	<key>Markham</key>
	<dict>
		<key>Latitude</key>
		<real>43.9358</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-79.26220000000001</real>
		<key>FullName</key>
		<string>Markham Cadet Flying Site</string>
		<key>Region</key>
		<string>Central</string>
	</dict>
	<key>Wingham</key>
	<dict>
		<key>Latitude</key>
		<real>43.8675</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-81.29859999999999</real>
		<key>FullName</key>
		<string>Wingham Cadet Flying Site</string>
		<key>Region</key>
		<string>Central</string>
	</dict>
	<key>North Bay</key>
	<dict>
		<key>Latitude</key>
		<real>46.3636</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-79.4228</real>
		<key>FullName</key>
		<string>North Bay Cadet Flying Site</string>
		<key>Region</key>
		<string>Central</string>
	</dict>
	<key>NWOGC</key>
	<dict>
		<key>Latitude</key>
		<real>48.4183</real>
		<key>Defunct</key>
		<true/>
		<key>Longitude</key>
		<real>-89.6019</real>
		<key>FullName</key>
		<string>North-Western Ontario Gliding Centre</string>
		<key>Region</key>
		<string>Central</string>
	</dict>
	<key>St Catherines</key>
	<dict>
		<key>Latitude</key>
		<real>42.9792</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-79.32470000000001</real>
		<key>FullName</key>
		<string>St Catherines Cadet Flying Site</string>
		<key>Region</key>
		<string>Central</string>
	</dict>
	<key>Chatham</key>
	<dict>
		<key>Latitude</key>
		<real>42.3064</real>
		<key>Defunct</key>
		<false/>
		<key>Longitude</key>
		<real>-82.0819</real>
		<key>FullName</key>
		<string>Chatham Cadet Flying Site</string>
		<key>Region</key>
		<string>Central</string>
	</dict>
</dict>
</plist>
