<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Glider Pilot</key>
	<array/>
	<key>FSF</key>
	<array/>
	<key>RSF</key>
	<array/>
	<key>Instructor</key>
	<array/>
	<key>Glider Check Pilot</key>
	<array/>
	<key>Glider Standards Pilot</key>
	<array/>
	<key>Tow Pilot</key>
	<array/>
	<key>Tow Check Pilot</key>
	<array/>
	<key>Tow Standards Pilot</key>
	<array/>
</dict>
</plist>
