<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Towing</string>
	<string>Fam / PR / Wx</string>
	<string>Tow Course</string>
	<string>Transit</string>
	<string>Maintenance</string>
	<string>Proficiency</string>
	<string>Upgrade</string>
</array>
</plist>
