name: CI

on: [push]

jobs:
  build:

    runs-on: macOS-latest

    strategy:
        matrix:
          destination: ['platform=iOS Simulator,OS=12.2,name=iPhone X']

    steps:
    - uses: actions/checkout@v1
    - name: Build
      run: xcodebuild clean test -project Timesheets.xcodeproj -scheme Timesheets -destination "{{destination}}" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO
